name: packfs release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.13.0

      - name: Build Binary
        run: zig build -Doptimize=ReleaseFast

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: packfs-bin
          path: zig-out/bin/*

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: packfs

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}